// Colors
$red: #C0362C;
$orange: #FF8642;
$tan: #F4DCB5;
$dark-brown: #816C5B;
$light-brown: #C3B7AC;
$white: #E7E3D7;
$subdued-blue: #0097AC;
$bright-blue: #3CD6E6;
$light-blue: #97EAF4;
$dark-blue: #007996;
$dark-bright-blue: #06C2F4;

// Navigation Colors
$nav-background-color: $dark-brown;
$nav-menu-title-color: $white;
$nav-text-color: $bright-blue;
