.top-bar, .top-bar ul{
  background-color: $nav-background-color;
}

.top-bar {
  .menu-text {
    color: $nav-menu-title-color;
  }

  .menu > li > a {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-nav-link {
    font-weight: bold;
  }
}
